@charset "UTF-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	border: none;
}

a,a.visited {
	color: #118882;
}

#session_contain {
	width: 900px;
	font: 85%/135% Arial, Helvetica, sans-serif;
	color: #555;
}

#session_main p {
	margin: 10px 0;
}

#class_home_main p {
	margin: 10px 0;
	font: 85%/135% Arial, Helvetica, sans-serif;
}

#session_main h3,#session_main strong {
	color: #000;
}

#session_navigation_contain {
	width: 230px;
	float: left;
}

#class_home_video_contain {
	width: 290px;
	float: left;
}

#class_home_main {
	width: 580px; //
	border: 1px solid #e7e7e7;
	background: #fff;
	float: right;
	padding: 0px 15px 15px 15px;
}

#session_navigation {
	width: 200px;
}

#session_top_navigation {
	height: 25px;
}

#session_bottom_navigation {
	height: 25px;
	margin-top: 10px;
}

#session_back_and_next {
	float: right;
}

#session_back_button {
	float: left;
}

#session_counter {
	text-align: center;
	float: left;
}

#session_next_button {
	float: right;
}

#session_main {
	width: 635px;
	border: 1px solid #e7e7e7;
	background: #f2f2f0;
	float: right;
	padding: 15px;
}

#session_main {
	width: 635px;
	border: 1px solid #e7e7e7;
	background: #f2f2f0;
	float: right;
	padding: 15px;
}

#slide-frame {
	padding: 15px 30px;
	overflow: hidden;
}

#slide-strip {
	position: relative;
}

/* css for tab hover */
#session_navigation ul li {
	font: 12px Arial, sans-serif;
	color: #118882;
	text-decoration: none;
	font-weight: bold;
	display: block;
	width: 230px;
	height: 30px;
	background-image:
		url("/etc/designs/aau/images/inactive_session_background.png");
	background-repeat: repeat-x;
}

#session_navigation ul li:hover,#session_navigation ul li.viewing {
	font: 12px Arial, sans-serif;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	display: block;
	width: 230px;
	height: 30px;
	background-image: url("/etc/designs/aau/images/active_session_background.png");
	background-repeat: repeat-x;
}

#session_navigation ul li.viewing span {
	color: #fff;
}

#session_navigation ul li a:active {
	font: 12px Arial, sans-serif;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	display: block;
	width: 230px;
	height: 30px;
	background-image: url("/etc/designs/aau/images/active_session_background.png");
	background-repeat: repeat-x;
}

#session_contain #session_navigation_contain #session_navigation a {
	display: block;
	width: 230px;
	height: 30px;
	color: #118882;
	text-decoration: none;
	font-weight: bold;
}

#session_contain #session_navigation_contain #session_navigation a:hover
	{
	display: block;
	width: 230px;
	height: 30px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

#session_navigation span {
	display: block;
	padding: 8px 0 0 15px;
}

#dashed_line {
	height: 1px;
	background-image: url("/etc/designs/aau/images/dashed_line.png");
	margin: 5px 0;
}

.dropshadow {
	-moz-box-shadow: 3px 3px 4px #999; /* Firefox */
	-webkit-box-shadow: 3px 3px 4px #999; /* Safari/Chrome */
	box-shadow: 3px 3px 4px #999;
	/* Opera and other CSS3 supporting browsers */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
	/* IE 8 */ :
	progid: DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135,
		Color='#999999' ); /* IE 5.5 - 7 */
}

.callout_media_type {
	font-weight: bold;
	line-height: 200%;
	font-size: 13px;
	text-transform: uppercase;
}

#project_holder {
	width: 635px;
	height: 250px;
	background: #fff;
}

#project_description_holder {
	width: 300px;
	height: 250px;
	float: right;
	padding: 5px;
}

#project_image {
	position: relative;
	width =: 320px;
	height: 250px;
}

.project_enlarge_overlay {
	position: absolute;
	top: 190px;
	left: 0;
	width: 320px;
	text-align: right;
}

#video_holder450 {
	height: 254px;
	background: #fff;
}

#video_holder635 {
	height: 357px;
	background: #fff;
}

#video_description_holder {
	width: 175px;
	height: 254px;
	float: right;
}

#video_poster450 {
	position: relative;
	width: 450px; /* for IE 6 */
	height: 254px;
}

#video_poster635 {
	position: relative;
	width: 635px; /* for IE 6 */
	height: 357px;
	overflow: hidden;
}

.video_title {
	font: 12px Helvetica, Arial, sans-serif;
	font-weight: bold; //
	margin-top: 10px;
	padding: 5px;
	text-decoration: none;
	color: #118882;
	text-transform: uppercase;
}

.image_overlay450 {
	position: relative;
	bottom: 172px;
	left: 0;
	width: 90px;
	margin-left: 180px;
}

.image_overlay635 {
	position: relative;
	bottom: 223px;
	left: 0;
	width: 90px;
	margin-left: 272px;
}

.video_title_overlay635 {
	height: 90px;
	width: 500px;
	text-align: right;
	position: relative;
	background: #fff;
	opacity: .8;
	bottom: 100px;
	left: 0;
	margin-left: 130px;
	padding-right: 5px;
}

.video_title635 {
	font: normal 20px Georgia, "Times New Roman", Times, serif;
	font-weight: normal; //
	margin-top: 10px;
	padding: 5px;
	color: #000;
	text-decoration: none;
}

#thumbnail_holder {
	width: 635px;
	height: 180px; //
	background: #fff;
}

#thumbnail_description_holder {
	width: 300px;
	height: 180px;
	float: right;
	padding: 5px;
}

#thumbnail_image {
	position: relative;
	width =: 320px;
	height: 180px;
}

.thumbnail_enlarge_overlay {
	position: absolute;
	top: 120px;
	left: 0;
	width: 320px;
	text-align: right;
}

.lesson_title {
	font: 24px Georgia, "Times New Roman", Times, serif; //
	font-weight: bold;
	margin-top: 10px;
	padding: 0px;
	text-decoration: none;
	color: #000;
	margin-left: 0px;
	margin-bottom: 15px;
}

.art_supplies {
	font: 14px Helvetica, Arial, sans-serif;
	text-transform: uppercase; //
	font-weight: bold;
	margin-top: 10px;
	padding: 0px;
	text-decoration: none;
	color: #118882;
	padding-left: 35px;
	margin-bottom: 15px;
}

.indent-35 {
	padding-left: 35px;
}

.indent-10 {
	padding-left: 10px;
}

.all_caps_header {
	font: 12px Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 10px;
}

.navigation_categories {
	font: 11px Helvetica, Arial, sans-serif;
	font-weight: bold;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 0px;
}

.check_mark {
	background-image: url("/etc/designs/aau/images/check_mark.png");
	background-repeat: no-repeat;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.image_float_left {
	float: left;
	right-margin: 10px;
}

.image_float_right {
	float: right;
	left-margin: 10px;
}

.navigation_timecode {
	font: 10px Helvetica, Arial, sans-serif;
}

.dropshadow {
	-moz-box-shadow: 3px 3px 4px #666; /* Firefox */
	-webkit-box-shadow: 3px 3px 4px #666; /* Safari/Chrome */
	box-shadow: 3px 3px 4px #666;
	/* Opera and other CSS3 supporting browsers */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')";
	/* IE 8 */ :
	progid: DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135,
		Color='#666666' ); /* IE 5.5 - 7 */
}

/****************************************/
body.contentOnly {
	background: #fff;
}
#foot {
	
}

#header {
	
}

#holder {
	width: 900px;
	margin: 0 auto;
	position: relative;
}

#thumbs {
	display: block;
	height: 0;
	width: 900px;
	overflow: hidden;
	margin-bottom: 5px;
}

#home_thumbs {
	display: block;
	height: 230px;
	width: 900px;
	overflow: hidden;
	margin-bottom: 5px;
}

#showhide {
	cursor: pointer;
}

h1 {
	font: normal 24px Georgia, "Times New Roman", Times, serif;
	margin: 10px 0 2px 0;
	padding: 0 0 15px 0;
	color: #000;
	border-bottom: dotted 1px #555;
}

.clearme {
	clear: left;
	padding: 10px 0 0 0;
}

#session_main h2 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 175%;
	color: #999;
}

#class_home_main h2 {
	font: 85%/135% Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 175%;
	color: #000;
}

#session_main h3 {
	font-weight: normal;
	line-height: 175%;
	font-size: 18px;
}

table td {
	padding: 0 10px 0 0;
}

/***** Generalized button styles **********/
a.button {
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 10px;
	margin: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	font-size: .90em;
}

a.button:hover {
	text-decoration: none;
}

a.button img {
	vertical-align: center;
}

/************* Set the button colors and hover controls ****************/
a.blue {
	background: #214984 url(/etc/designs/aau/images/button_blue.png) top repeat-x;
}

a.blue:hover {
	background: #214984 url(/etc/designs/aau/images/button_blue_hover.png) top repeat-x;
}

a.inactive {
	opacity: 0.5;
}