* {
    margin: 0;
    padding: 0;
}
code {
    font-family: "Courier New",Courier;
}
#acc {
    color: #003333;
    list-style: none outside none;
    margin: 0;
    width: 620px;
}
#acc h3 {
<<<<<<< HEAD
    background: url("/etc/designs/aau/images/accordian/header.gif") repeat scroll 0 0 transparent;
    border: 1px solid #9AC1C9;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
    padding: 0 4px;
    width: 620px;
}
#acc h3:hover {
    background: url("/etc/designs/aau/images/accordian/header_over.gif") repeat scroll 0 0 transparent;
}
#acc .acc-section {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
}
#acc .acc-content {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #9AC1C9 #9AC1C9;
    border-right: 1px solid #9AC1C9;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding: 5px;
    width: 605px;
}
#nested {
    color: #003333;
    list-style: none outside none;
    margin-bottom: 15px;
    width: 550px;
}
#nested h3 {
    background: url("/etc/designs/aau/images/accordian/header.gif") repeat scroll 0 0 transparent;
    border: 1px solid #9AC1C9;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
    padding: 6px 6px 8px;
    width: 411px;
}
#nested h3:hover {
    background: url("/etc/designs/aau/images/accordian/header_over.gif") repeat scroll 0 0 transparent;
}
#nested .acc-section {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
}
#nested .acc-content {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #9AC1C9 #9AC1C9;
    border-right: 1px solid #9AC1C9;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding: 15px;
    width: 580px;
}
#nested .acc-selected {
    background: url("/etc/designs/aau/images/accordian/header_over.gif") repeat scroll 0 0 transparent;
=======
    background: url("../../images/accordian/header.gif") repeat scroll 0 0 transparent;
    border: 1px solid #9AC1C9;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
    padding: 0 4px;
    width: 620px;
}
#acc h3:hover {
    background: url("../../images/accordian/header_over.gif") repeat scroll 0 0 transparent;
}
#acc .acc-section {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
}
#acc .acc-content {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #9AC1C9 #9AC1C9;
    border-right: 1px solid #9AC1C9;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding: 5px;
    width: 605px;
}
#nested {
    color: #003333;
    list-style: none outside none;
    margin-bottom: 15px;
    width: 550px;
}
#nested h3 {
    background: url("../../images/accordian/header.gif") repeat scroll 0 0 transparent;
    border: 1px solid #9AC1C9;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
    padding: 6px 6px 8px;
    width: 411px;
}
#nested h3:hover {
    background: url("../../images/accordian/header_over.gif") repeat scroll 0 0 transparent;
}
#nested .acc-section {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
}
#nested .acc-content {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #9AC1C9 #9AC1C9;
    border-right: 1px solid #9AC1C9;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding: 15px;
    width: 580px;
}
#nested .acc-selected {
    background: url("../../images/accordian/header_over.gif") repeat scroll 0 0 transparent;
>>>>>>> branch 'master' of gitosis@git.42lines.net:cq5-6d
}
